@model CultureBase.Models.Pessoa
@{
    ViewBag.Title = "teste";
}
<h2>teste</h2>

<table>
    <tr>
        <td>texto1</td>
        <td>resultado do texto</td>
        <td>Nome do Objeto Pessoa (Model)</td>
    </tr>

    <tr>
        <td>texto1</td>
        <td>@Resources.texto1</td>
        <td>@Html.DisplayNameFor(model => model.NomePessoa)</td>
    </tr>

</table>

